/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fredoka", sans-serif;
}

/* intestazione */

header {
    width: 1400px;
    margin: 0 auto;
}

h1 {
    color: #e53170;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

/* corpo della pagina */

main {
    width: 1400px;
    margin: 0 auto;
}

p {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

img {
    width: 100%;
    display: block;
    
}

h3 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #6ecbe3;
}

.row {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.col  {
    width: calc((100% - 70px) / 3);
    flex-shrink: 0;
    display: flex;
    
}

.box-pic {
    width: 30%;
}

.box-text {
    width: 70%;
    padding: 20px;
    background-color: #000000;
    line-height: 30px;
    color: #ffffff;
    
}